@import url('./imports/header.css');
@import url('./imports/sobre.css');
@import url('./imports/design.css');
@import url('./imports/curriculo.css');
@import url('./imports/arts.css');
@import url('./imports/footer.css');

:root {
    --preto: #000000;
    --branco: #ffffff;
    --bg-content: #1C1D26;
    --border1: #e44c65;
    --border2: #1e3b90;
    --border3: #e6563e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
}

@font-face {
    font-family: Nephilm;
    src: local('Nephilm.ttf'), url('../font/Nephilm.otf');
}

body, html {
    width: 100%;
    height: 100%;
    color: var(--branco);
    font-family: Nephilm, Arial, Sans-serif;
}

a {
    text-decoration: none;
    color: var(--preto);
}

li {
    list-style: none;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 100;
    letter-spacing: .1rem;
}

.arrow {  
    position: absolute;
    left: calc(50% - 18px);
    bottom: 3%;
}

.arrowToUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    z-index: 99;
    /* display: none; */
}

header, .sobre, .design, .curriculo, .arts, footer {
    width: 100%;
    height: 100vh;
    min-height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}

.content {
    padding: 60px 30px;
    /* position: absolute; */
}

.content-bottom {
    width: 100%;
    /* bottom: 0; */
    border-top: 6px solid var(--border1);
    /* padding: 90px 0; */
}

.content-lateral {
    /* width: 36%;  --Desktop / Tablet */
    width: 100%;
    height: 100%;
    /* padding: 80px 60px; */
}

.content-right {
    /* right: 0; */
    border-top: 6px solid var(--border2);
    /* border-left: 6px solid var(--border2); */
}

.content-left {
    /* left: 0; */
    border-top: 6px solid var(--border3);
    /* border-right: 6px solid var(--border3); */
}

.link {
    text-align: center;
}

.btn {
    background-color: var(--border1);
    color: var(--branco);
    text-transform: uppercase;
    display: inline-block;
    padding: 16px 30px;
    margin: 20px 0;
}

@media (481px <= width <= 767px) {
    .arrowToUp {
        width: 60px;
    }
}

@media (768px <= width <= 1025px) {
    /* h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: 100;
        letter-spacing: .1rem;
    } */
    
    .arrow {  
        bottom: 6%;
    }

    .arrowToUp {
        width: 60px;
    }
    
    .content {
        /* padding: 60px 30px; */
        position: absolute;
    }
    
    .content-bottom {
        bottom: 0;
        height: 80%;
    }
    
    .content-lateral {
        width: 55%; 
        padding: 30px 20px;
    }
    
    .content-right {
        right: 0;
        border-top: none;
        border-left: 6px solid var(--border2);
    }
    
    .content-left {
        left: 0;
        border-top: none;
        border-right: 6px solid var(--border3);
    }
    
    /* .btn {
        background-color: var(--border1);
        color: var(--branco);
        text-transform: uppercase;
        display: inline-block;
        padding: 16px 30px;
        margin: 20px 0;
    } */
}

@media (1026px <= width) {
    
}