@import url('./imports/header.css');
@import url('./imports/sobre.css');
@import url('./imports/design.css');
@import url('./imports/curriculo.css');
@import url('./imports/arts.css');
@import url('./imports/footer.css');

:root {
    --preto: #000000;
    --branco: #ffffff;
    --bg-content: #1C1D26;
    --border1: #e44c65;
    --border2: #1e3b90;
    --border3: #e6563e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
}

@font-face {
    font-family: Boiling-BlackDemo;
    src: local('Boiling-BlackDemo.ttf'), url('../font/Boiling-BlackDemo.ttf');
}

body, html {
    width: 100%;
    height: 100%;
    min-height: 400px;
    color: var(--branco);
    font-family: Boiling-BlackDemo, Arial, Sans-serif;
}

a {
    text-decoration: none;
    color: var(--preto);
}

li {
    list-style: none;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 100;
    letter-spacing: .1rem;
}

.arrow {  
    position: absolute;
    left: calc(50% - 18px);
    bottom: 3%;
}

.arrowToUp {
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 60px;
    z-index: 99;
    display: none;
}

header, .sobre, .design, .curriculo, .arts, footer {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}

.content {
    background-color: var(--bg-content);
    opacity: 0.92;
    padding: 60px 30px;
    /* position: absolute; */
}

.content-bottom {
    width: 100%;
    /* bottom: 0; */
    border-top: 6px solid var(--border1);
    /* padding: 90px 0; */
}

.content-lateral {
    /* width: 36%;  --Desktop / Tablet */
    width: 100%;
    height: 100%;
    /* padding: 80px 60px; */
}

.content-right {
    /* right: 0; */
    border-top: 6px solid var(--border2);
    /* border-left: 6px solid var(--border2); */
}

.content-left {
    /* left: 0; */
    border-top: 6px solid var(--border3);
    /* border-right: 6px solid var(--border3); */
}

.btn {
    display: block;
    margin: 25px auto;
    background-color: var(--border1);
    border: none;
    color: var(--branco);
    text-transform: uppercase;
    padding: 10px 30px;
}