.arts {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.art1 {
    width: 100%;
    height: 100%;
    background-image: url('../../img/sections/art-left-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    /* border-right: 3px solid var(--border1); */
}

.art2 {
    width: 100%;
    height: 100%;
    background-image: url('../../img/sections/art-right-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border-left: 3px solid var(--border1); */
}

@media (481px <= width <= 767px) {
    .arts {
        flex-direction: row;
    }
    
    .art1 {
        width: 50%;
        background-position: 75%;
        border-right: 3px solid var(--border1);
    }
    
    .art2 {
        width: 50%;
        border-left: 3px solid var(--border1);
    }
}

@media (768px <= width <= 1024px) {
    .arts {
        flex-direction: row;
    }
    
    .art1 {
        width: 50%;
        background-position: 75%;
        border-right: 3px solid var(--border1);
        background-image: url('../../img/sections/art-left.jpg');
    }
    
    .art2 {
        width: 50%;
        border-left: 3px solid var(--border1);
        background-image: url('../../img/sections/art-right.jpg');
    }
}

@media (1025px <= width) {
    .arts {
        flex-direction: row;
    }
    
    .art1 {
        width: 50%;
        background-position: 75%;
        border-right: 3px solid var(--border1);
        background-image: url('../../img/sections/art-left.jpg');
    }
    
    .art2 {
        width: 50%;
        border-left: 3px solid var(--border1);
        background-image: url('../../img/sections/art-right.jpg');
    }
}
