.curriculo {
    background-image: url('../../img/sections/curriculo-mobile.jpg');
    background-position: center;
    height: fit-content !important;
}

.curriculo p {
    margin: 1rem 0;
}

@media (768px <= width <= 1025px) {
    .curriculo {
        background-image: url('../../img/sections/curriculo.jpg');
        /* background-position: center; */
        height: 100vh !important;
    }
}