.design {
    background-image: url('../../img/sections/design-mobile.jpg');
    background-position: left;
    height: fit-content !important;
    z-index: 1;
    overflow: hidden;
}

.design::after {
    content: '';
    background-color: var(--bg-content);
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: .7;
    z-index: -1;
}

.design p {
    margin: 1rem 0;
}

@media (768px <= width <= 1025px) {
    .design {
        background-image: url('../../img/sections/design.jpg');
        /* background-position: left; */
        height: 100vh !important;
        display: flex;
        align-items: center;
    }

    .design::after {
        width: 55%;
    }
}

@media (1026px <= width) {
    .design {
        background-image: url('../../img/sections/design.jpg');
        background-attachment: fixed !important;
        /* background-position: left; */
        height: 100vh !important;
        display: flex;
        align-items: center;
    }

    .design::after {
        width: 50%;
    }
}

@media (1281px <= width) {
    .design::after {
        width: 36%;
    }
}