.design {
    background-image: url('../../img/sections/design-mobile.jpg');
    background-position: left;
    height: fit-content !important;
}

.design p {
    margin: 1rem 0;
}

@media (768px <= width <= 1025px) {
    .design {
        background-image: url('../../img/sections/design.jpg');
        /* background-position: left; */
        height: 100vh !important;
    }
}