footer {
    background-image: url('../../img/sections/footer-mobile.jpg');
    background-position: right;
    color: var(--preto);
    padding: 30px 30px;
}

footer p {
    line-height: 1.2rem !important;
}

.frase .autor {
    text-align: center;
    font-size: .8rem;
    margin-top: .7rem;
}

.copyright {
    font-size: .75rem;
    line-height: .95rem !important;
    position: absolute;
    bottom: 1rem;
    right: 5px;
    padding: 0 10px;
}