footer {
    background-image: url('../../img/sections/footer-mobile.jpg');
    background-position: right;
    color: var(--preto);
    padding: 30px 30px;
    z-index: 1;
}

footer::after {
    content: '';
    background-color: var(--branco);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .3;
    z-index: -1;
}

footer p {
    line-height: 1.2rem !important;
}

.motivacional {
    margin-top: 1.5rem;
}

.motivacional .frase {
    font-size: 1.8rem;
    line-height: 2.4rem !important;
}

.motivacional .autor {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
}

.copyright {
    font-size: .9rem;
    line-height: 1.2rem !important;
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 5px;
    padding: 0 10px;
}

@media (481px <= width <= 767px) {
    .motivacional {
        text-align: center;
    }
}

@media (768px <= width <= 1025px) {
    footer {
        background-image: url('../../img/sections/footer.jpg');
    }    
}
