footer {
    background-image: url('../../img/sections/footer-mobile.jpg');
    background-position: right;
    color: var(--preto);
    padding: 30px 30px;
}

footer p {
    line-height: 1.2rem !important;
}

.motivacional {
    margin-top: 4rem;
}

.motivacional .frase {
    font-size: 1.8rem;
    line-height: 2.2rem !important;
}

.motivacional .autor {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
}

.copyright {
    font-size: .9rem;
    line-height: 1.2rem !important;
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 5px;
    padding: 0 10px;
}