header {
    background-image: url('../../img/sections/header-mobile.jpg');
    background-position: center;
    padding: 2.8rem 0;
    background-attachment: initial;
}

.lista-navbar {
    display: none;
    justify-content: center;
    gap: 6rem;
}

.lista-navbar li a {
    font-size: 2.2rem;
    font-weight: 600;
}

header .arrow {
    bottom: 10% !important;
}