.sobre {
    background-image: url('../../img/sections/sobre-mobile.jpg');
    background-position: top;
    height: fit-content !important;
    z-index: 1;
}

.sobre::after {
    content: '';
    background-color: var(--bg-content);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: .7;
    z-index: -1;
}

.sobre p, h1 {
    margin: .6rem 0;
}

@media (768px <= width <= 1024px) {
    .sobre {
        background-image: url('../../img/sections/sobre.jpg');
        /* background-position: top; */
        height: 100vh !important;
    }

    .sobre::after {
        height: 80%;
    }

    .sobre .container {
        display: flex;
        gap: 1.2rem;
    }

    .sobre h1 {
        font-size: 1.9rem;
        text-align: start;
    }
}

@media (1025px <= width) {
    .sobre {
        background-image: url('../../img/sections/sobre.jpg');
        /* background-position: top; */
        height: 100vh !important;
        background-attachment: fixed !important;
    }

    .sobre::after {
        height: 75%;
    }

    .sobre .container {
        display: flex;
        gap: 1.6rem;
    }

    .sobre h1 {
        font-size: 2.2rem;
    }
}

@media (1281px <= width) {
    .sobre::after {
        height: 60%;
    }
}