.sobre {
    background-image: url('../../img/sections/sobre-mobile.jpg');
    background-position: top;
    height: fit-content !important;
}

.sobre p {
    margin: 1rem 0;
}

@media (768px <= width <= 1025px) {
    .sobre {
        background-image: url('../../img/sections/sobre.jpg');
        /* background-position: top; */
        height: 100vh !important;
    }

    .sobre .container {
        display: flex;
    }
}